#loader
	{
	border: 0px solid black;
	position: absolute;
	margin: auto;
	top:50;
	bottom:0;
	left:0;
	right:0;
	width: 600px;
	height:600px;
	}
#loader img
	{
		margin-top: 150px;
		margin-left: 200px;
		width:200px;
	}
#content
	{
	display: none;
	}


@media screen and (max-width:500px) {

	#loader img
	{
		margin-top: 110px;
		margin-left: 100px;
		width:200px;
	}
	
}