.outerbox
{
    /* border: 2px solid black; */
	width:100%;
    position: relative;
	height: 36px;
	overflow: hidden;
	/* z-index:45; */
}
.sliderbox
{
    /* border: 2px solid red; */
	position: relative;
	width:6997px;
    height: 36px;
	animation-name: slide;
	animation-duration: 90s;
	animation-iteration-count: infinite;
}	
@keyframes slide
{    
    
	from
	{
		left:0px;
	}
    to
	{
		left:-6997px;
	}
	
}


